<p-confirmDialog  header="Sign Out" [style]="{width: '20vw'}" [baseZIndex]="10000"></p-confirmDialog>
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/logo.png" alt="logo" style="margin-right: 0;">
        <span>OEING</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" fadeInDown [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-bell"></i>
            <span>Calendar</span>
        </a>
        <a routerLink="/task/panel" class="p-link layout-topbar-button">
            <i class="pi pi-list"></i>
            <span>Task</span>
        </a>
        <!-- <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </a> -->
        <a routerLink="/user" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </a>
        <a (click)="logout()" class="p-link layout-topbar-button">
            <i class="pi pi-sign-out"></i>
            <span>Sign-out</span>
        </a>
    </div>


