<p-panel header="User">
    <div class="p-fluid">
        <div class="field">
            <label for="name">Name</label>
            <input
                name="name"
                type="text"
                pInputText
                id="name"
                [(ngModel)]="user.userName"
                readonly
            />
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input
                name="email"
                type="email"
                pInputText
                id="email   "
                [(ngModel)]="user.email"
                readonly
            />
        </div>
        <p-divider></p-divider>
        <div>
            <h6>Theme Dark</h6>
            <p-inputSwitch
                [(ngModel)]="user.themeDark"
                (onChange)="changeThemeDark($event.checked)"
            ></p-inputSwitch>
        </div>
    </div>
</p-panel>
