<div class="layout-footer">
    <img
        src="assets/layout/images/logo.png"
        alt="Logo"
        height="20"
        class="mr-2"
    />
    by
    <span class="font-medium ml-2">Vitor Boeing</span>

    <div align="right">
        <a target="_blank" href="https://www.linkedin.com/in/vitor-boeing-heidemann-3a94291b3/">
            <img src="assets/layout/images/linkedin.png" alt="Logo" height="20" class="mr-2 ml-2"/>
        </a>
        <a target="_blank" href="https://github.com/vitorboeing">
            <img
                src="assets/layout/images/github.png"
                alt="Logo"
                height="28"
                class="mr-2"
            />
        </a>
    </div>
</div>
